<h1>Code_Clan_Cinema_</h1>
<h3>Today's Director: Martin McDonagh</h3>
<h4><a href="/in_bruge"><%= @films[0].title %></a></h4>
<img src="https://i.imgur.com/JEEy4GS.png" alt="dog in window" style="width:220px;height:180px;">
<img src="https://i.imgur.com/UP5SvFJ.png" alt="" style="width:220px;height:180px;">
<img src="https://i.imgur.com/QEFTOef.png" alt="finger gun pointing" style="width:220px;height:180px;">
<img src="https://i.imgur.com/2mpBeHk.png" alt="man and priest in confession booth" style="width:220px;height:180px;">
<img src="https://i.imgur.com/KXfIMSi.png" alt="man looking at painting" style="width:220px;height:180px;">
<img src="https://i.imgur.com/SIARFdO.png" alt="man in gazebo" style="width:220px;height:180px;">
<p>Guilt-stricken after a job gone wrong, hitman Ray and his partner await orders from their ruthless boss in Bruges, Belgium, the last place in the world Ray wants to be.</p>

<h4><a href="/three_billboards"><%= @films[1].title %></a></h4>
<img src="https://i.imgur.com/QiBtwRc.png" alt="" style="width:220px;height:180px;">
<img src="https://i.imgur.com/hRDmW2H.png" alt="" style="width:220px;height:180px;">
<img src="https://i.imgur.com/HIr61bb.png" alt="" style="width:220px;height:180px;">
<img src="https://i.imgur.com/zolQiGJ.png" alt=""style="width:220px;height:180px;">
<img src="https://i.imgur.com/VuDivZw.png" alt=""style="width:220px;height:180px;">
<img src="https://i.imgur.com/qKG3MW8.png" alt=""style="width:220px;height:180px;">
<p>A mother personally challenges the local authorities to solve her daughter's murder when they fail to catch the culprit.</p>

<h4><a href="/seven_psychopaths"><%= @films[2].title %></a></h4>
<img src="https://s19.postimg.cc/i9rjmw37n/seven_psychopaths_02.png" alt="" style="width:210px;height:180px;">>
<img src="https://s19.postimg.cc/l3up0cktf/seven_psychopaths_09.png" alt="" style="width:210px;height:180px;">>
<img src="https://s19.postimg.cc/7zp4no877/seven_psychopaths_10.png" alt="" style="width:210px;height:180px;">>
<img src="https://s19.postimg.cc/wsyoocm2r/seven_psychopaths_14.png" alt="" style="width:210px;height:180px;">>
<img src="https://s19.postimg.cc/43bsrrn8j/seven_psychopaths_22.png" alt="" style="width:210px;height:180px;">>
<img src="https://s19.postimg.cc/6knjz2hfn/seven_psychopaths_28.png" alt="" style="width:210px;height:180px;">>
<p>A struggling screenwriter inadvertently becomes entangled in the Los Angeles criminal underworld after his oddball friends kidnap a gangster's beloved Shih Tzu.</p>
