<h1>Code_Clan_Cinema_</h1>
<h2>Cinema for Cinephiles</h2>

<ul>
  <li><a href="/in_bruge"><%= @films[0].title %></a></li>
  <li><a href="/three_billboards"><%= @films[1].title %></a>
  <li><a href="/seven_psychopaths"><%= @films[2].title %></a></li>
</ul>
