<h1> <%= @films[0].title %></h1>
<h2> Price:<%= @films[0].price%>p</h2>
<h2> Time:<%= @screenings[1].show_time %></h2>
<img src="https://i.imgur.com/JEEy4GS.png" alt="dog in window" style="width:220px;height:180px;">
<img src="https://i.imgur.com/UP5SvFJ.png" alt="" style="width:220px;height:180px;">
<img src="https://i.imgur.com/QEFTOef.png" alt="finger gun pointing" style="width:220px;height:180px;">
<img src="https://i.imgur.com/2mpBeHk.png" alt="man and priest in confession booth" style="width:220px;height:180px;">
<img src="https://i.imgur.com/KXfIMSi.png" alt="man looking at painting" style="width:220px;height:180px;">
<img src="https://i.imgur.com/SIARFdO.png" alt="man in gazebo" style="width:220px;height:180px;">
<h3>Reviews</h3>
<p>"In “In Bruges,” Brendan Gleeson, Colin Farrell and Ralph Fiennes have great fun rummaging around inside Martin McDonagh’s modest bag of tricks." - NY times</p>
<p>"With In Bruges, the British gangster movie gets a Croydon facelift. It may not be new, but it’'s a wonderfully fresh take on a familiar genre: fucked-up, far-out and very, very funny." - Empire</p>
<p>"Anglo-Irish playwright Martin McDonagh's first feature is darkly comic and dense with quick dialogue" - Common Sense Media</p>
