<h1> <%= @films[2].title %></h1>
<h2> Price:<%= @films[2].price%>p</h2>
<h2> Time:<%= @screenings[2].show_time %></h2>
<img src="https://s19.postimg.cc/i9rjmw37n/seven_psychopaths_02.png" alt="" style="width:210px;height:180px;">>
<img src="https://s19.postimg.cc/l3up0cktf/seven_psychopaths_09.png" alt="" style="width:210px;height:180px;">>
<img src="https://s19.postimg.cc/7zp4no877/seven_psychopaths_10.png" alt="" style="width:210px;height:180px;">>
<img src="https://s19.postimg.cc/wsyoocm2r/seven_psychopaths_14.png" alt="" style="width:210px;height:180px;">>
<img src="https://s19.postimg.cc/43bsrrn8j/seven_psychopaths_22.png" alt="" style="width:210px;height:180px;">>
<img src="https://s19.postimg.cc/6knjz2hfn/seven_psychopaths_28.png" alt="" style="width:210px;height:180px;">>
<h3>Reviews</h3>
<p>"Enormously entertaining, endlessly quotable, perfectly cast and packed full of the richest acting you’ll see from an ensemble cast all year, but the result is ever so slightly hollow. - Empire</p>
<p>“Seven Psychopaths,” written and directed by Martin McDonagh, finds a writer in trouble in Los Angeles." - NY Times</p>
<p>This brutal and absurdly dark comedy about a dognapping gone disastrously awry could have Quentin Tarantino wondering, "Why didn't I think of that?" - Plugged In</p>
