<h1> <%= @films[1].title %></h1>
<h2> Price:<%= @films[1].price%>p</h2>
<h2> Time:<%= @screenings[0].show_time %></h2>
<img src="https://i.imgur.com/QiBtwRc.png" alt="" style="width:220px;height:180px;">
<img src="https://i.imgur.com/hRDmW2H.png" alt="" style="width:220px;height:180px;">
<img src="https://i.imgur.com/HIr61bb.png" alt="" style="width:220px;height:180px;">
<img src="https://i.imgur.com/zolQiGJ.png" alt=""style="width:220px;height:180px;">
<img src="https://i.imgur.com/VuDivZw.png" alt=""style="width:220px;height:180px;">
<img src="https://i.imgur.com/qKG3MW8.png" alt=""style="width:220px;height:180px;">
<h3>Reviews</h3>
<p>"Frances McDormand excels as a mother taunting the police to uncover the truth about her daughter’s death" - The Guardian</p>
<p>"A ferocious Frances McDormand plays a grieving mother seeking justice in Martin McDonagh’s movie, which mixes tears and tragedy with corrosive laughs." - NY Times</p>
<p>"Funny, brutal and breathtakingly beautiful. Two exceptionally raw lead performances, supercharged by a bold script from Martin McDonagh, could make Three Billboards this year’s Awards-upsetter." - Empire</p>
